@charset "UTF-8";
.nav-push-enter-active {
  -webkit-animation: nav-push-in 0.3s;
  -moz-animation: nav-push-in 0.3s;
  -ms-animation: nav-push-in 0.3s;
  -o-animation: nav-push-in 0.3s;
  animation: nav-push-in 0.3s; }

@-webkit-keyframes nav-push-in {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@keyframes nav-push-in {
  0% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes nav-push-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
@keyframes nav-push-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); } }
.nav-pop-leave-active {
  -webkit-animation: nav-pop-out 0.3s;
  -moz-animation: nav-pop-out 0.3s;
  -ms-animation: nav-pop-out 0.3s;
  -o-animation: nav-pop-out 0.3s;
  animation: nav-pop-out 0.3s; }

@-webkit-keyframes nav-pop-in {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@-webkit-keyframes nav-pop-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
@keyframes nav-pop-in {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); } }
@keyframes nav-pop-out {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  100% {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); } }
.move-fade-enter-active {
  -webkit-animation: move-fade-in 0.3s;
  -moz-animation: move-fade-in 0.3s;
  -ms-animation: move-fade-in 0.3s;
  -o-animation: move-fade-in 0.3s;
  animation: move-fade-in 0.3s; }

.move-fade-leave-active {
  -webkit-animation: move-fade-out 0.3s;
  -moz-animation: move-fade-out 0.3s;
  -ms-animation: move-fade-out 0.3s;
  -o-animation: move-fade-out 0.3s;
  animation: move-fade-out 0.3s; }

.move-fade-move {
  transition: transform 0.3s; }

@-webkit-keyframes move-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes move-fade-out {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }
@keyframes move-fade-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
    transform: translateY(-30px); }
  100% {
    opacity: 1.0; } }
@keyframes move-fade-out {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
    transform: translateY(30px); } }
.fade-enter-active {
  -webkit-animation: fade-in 0.3s;
  -moz-animation: fade-in 0.3s;
  -ms-animation: fade-in 0.3s;
  -o-animation: fade-in 0.3s;
  animation: fade-in 0.3s; }

.fade-leave-active {
  -webkit-animation: fade-out 0.3s;
  -moz-animation: fade-out 0.3s;
  -ms-animation: fade-out 0.3s;
  -o-animation: fade-out 0.3s;
  animation: fade-out 0.3s; }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes fade-out {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0; } }
@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1.0; } }
@keyframes fade-out {
  0% {
    opacity: 1.0; }
  100% {
    opacity: 0; } }
.bottom-push-enter-active {
  -webkit-animation: bottom-push-in 0.3s;
  -moz-animation: bottom-push-in 0.3s;
  -ms-animation: bottom-push-in 0.3s;
  -o-animation: bottom-push-in 0.3s;
  animation: bottom-push-in 0.3s; }

.bottom-push-leave-active {
  -webkit-animation: bottom-push-out 0.3s;
  -moz-animation: bottom-push-out 0.3s;
  -ms-animation: bottom-push-out 0.3s;
  -o-animation: bottom-push-out 0.3s;
  animation: bottom-push-out 0.3s; }

@-webkit-keyframes bottom-push-in {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
@-webkit-keyframes bottom-push-out {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes bottom-push-in {
  0% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
@keyframes bottom-push-out {
  100% {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%); } }
/*
 * 全局和默认CSS
 */
html {
  height: 100%; }

body {
  font-family: "微软雅黑";
  height: 100%;
  background-color: #cccccc;
  text-align: center; }

* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: -0-border-box;
  box-sizing: -ms-border-box; }

ul, ol, li {
  list-style: none; }

img {
  border: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

/*
 * 根容器
 */
.cv-main-container {
  width: 100%;
  height: 100%; }

/*
 * cv-nav子页面容器默认样式
 */
.cv-nav-container {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  background-color: #ffffff;
  overflow: hidden; }
  .cv-nav-container > .cv-nav-header {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 44px;
    z-index: 110;
    padding: 7px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    background-color: #0099ff;
    color: #ffffff; }
    .cv-nav-container > .cv-nav-header > span {
      position: absolute;
      display: inline-block;
      padding: 7px;
      top: 0; }
      .cv-nav-container > .cv-nav-header > span.left {
        left: 0; }
      .cv-nav-container > .cv-nav-header > span.right {
        right: 0; }
      .cv-nav-container > .cv-nav-header > span > button.nav-btn {
        background: none;
        border: none;
        color: #ffffff;
        font-size: 16px; }
    .cv-nav-container > .cv-nav-header + .cv-nav-content {
      padding-top: 44px; }
  .cv-nav-container > .cv-nav-content {
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px; }

/*
 * cv-modal容器默认样式
 */
.cv-modal-container {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden; }

.cv-modal-background {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 1001; }

.cv-modal {
  position: absolute;
  width: 100%;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1001; }

.cv-modal-move-fade {
  position: absolute;
  z-index: 1001;
  left: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%;
  min-height: 200px;
  background-color: #ffffff; }

.cv-modal-bottom-push {
  position: absolute;
  z-index: 1001;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 200px;
  background-color: #ffffff; }

.cv-modal-close {
  position: absolute;
  z-index: 1000;
  width: 40px;
  height: 40px;
  background-color: #cccccc;
  border: none;
  border-radius: 50%;
  top: 5px;
  right: 5px; }

/*
 * cv-scroll容器默认样式
 */
.cv-scroll-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow: hidden; }

/*
 * cv-slider控件默认样式
 */
.cv-slider-container {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .cv-slider-container > div:last-child {
    height: auto;
    overflow: auto;
    opacity: 0;
    pointer-events: none; }

.cv-slider-item-container {
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.cv-slider-item {
  display: inline-block; }
  .cv-slider-item > img {
    width: 100%; }

/*
 * cv-loading样式
 */
.cv-loading-container {
  position: absolute;
  z-index: 10000;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden; }

.cv-loading-default {
  position: absolute;
  display: block;
  z-index: 10001;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  background: url(../img/root-loading.png) 0 0 no-repeat;
  -webkit-background-size: 60px 60px;
  background-size: 60px 60px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

/**
 * 上下拉刷新 styles
 */
.pullDown, .pullUp {
  background: transparent;
  height: 40px;
  line-height: 40px;
  padding: 5px 10px;
  font-weight: bold;
  font-size: 14px;
  color: #888; }

.pullDown .pullDownLabel, .pullUp .pullUpLabel {
  font-size: 12px; }

.pullDown .pullDownIcon, .pullUp .pullUpIcon {
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  background: url(../img/pull-icon.png) 0 0 no-repeat;
  -webkit-background-size: 30px 60px;
  background-size: 30px 60px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 250ms; }

.pullDown .pullDownIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

.pullUp .pullUpIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

.pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0); }

.pullUp.flip .pullUpIcon {
  -webkit-transform: rotate(0deg) translateZ(0); }

.pullDown.loading .pullDownIcon, .pullUp.loading .pullUpIcon {
  background-position: 0 100%;
  -webkit-transform: rotate(0deg) translateZ(0);
  -webkit-transition-duration: 0ms;
  -webkit-animation-name: loading;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0deg) translateZ(0); }
  to {
    -webkit-transform: rotate(360deg) translateZ(0); } }
/*
 * cv-calendar样式
 */
.cv-calendar-container {
  width: 100%;
  background-color: #ffffff; }
  .cv-calendar-container .cv-calendar-tabs {
    width: 100%;
    padding: 10px;
    background-color: #0099ff;
    text-align: center;
    white-space: nowrap;
    color: #ffffff; }
    .cv-calendar-container .cv-calendar-tabs > button.cv-calendar-tab-btn {
      background-color: #0099ff;
      color: #ffffff;
      font-size: 16px;
      border: #ffffff solid 1px;
      border-radius: 5px;
      padding: 5px; }
  .cv-calendar-container .cv-calendar-years-container, .cv-calendar-container .cv-calendar-month-container {
    width: 100%;
    height: 180px;
    padding: 10px;
    overflow-x: hidden;
    overflow-y: scroll; }
    .cv-calendar-container .cv-calendar-years-container li, .cv-calendar-container .cv-calendar-month-container li {
      display: block;
      float: left;
      width: 33.3%;
      line-height: 40px;
      height: 40px;
      text-align: center;
      border-radius: 5px;
      font-size: 16px;
      color: #0099ff;
      background-color: #ffffff; }
      .cv-calendar-container .cv-calendar-years-container li.disable, .cv-calendar-container .cv-calendar-month-container li.disable {
        color: #999999;
        background-color: #ffffff;
        pointer-events: none; }
      .cv-calendar-container .cv-calendar-years-container li.active, .cv-calendar-container .cv-calendar-month-container li.active {
        color: #ffffff;
        background-color: #0099ff; }
  .cv-calendar-container .cv-calendar-date-container {
    width: 100%;
    height: auto;
    overflow-y: auto; }
    .cv-calendar-container .cv-calendar-date-container > .cv-calendar-week-title-container {
      width: 100%;
      background-color: #cccccc;
      height: auto;
      overflow-y: auto;
      padding: 10px; }
      .cv-calendar-container .cv-calendar-date-container > .cv-calendar-week-title-container > ul {
        height: auto;
        overflow-y: auto; }
        .cv-calendar-container .cv-calendar-date-container > .cv-calendar-week-title-container > ul > li {
          float: left;
          width: 14%;
          color: #0099ff;
          font-size: 16px;
          text-align: center; }
          .cv-calendar-container .cv-calendar-date-container > .cv-calendar-week-title-container > ul > li:nth-child(7n+1) {
            margin-left: 1%; }
          .cv-calendar-container .cv-calendar-date-container > .cv-calendar-week-title-container > ul > li:nth-child(7n+7) {
            margin-right: 1%; }
    .cv-calendar-container .cv-calendar-date-container > ul {
      padding: 10px;
      height: auto;
      overflow-y: auto; }
      .cv-calendar-container .cv-calendar-date-container > ul > li {
        float: left;
        width: 14%;
        text-align: center; }
        .cv-calendar-container .cv-calendar-date-container > ul > li > a {
          display: inline-block;
          border-radius: 12px;
          width: 24px;
          height: 24px;
          font-size: 14px;
          line-height: 24px;
          color: #333333;
          background-color: #ffffff;
          overflow: hidden; }
          .cv-calendar-container .cv-calendar-date-container > ul > li > a.disable {
            color: #999999;
            background-color: #ffffff;
            pointer-events: none; }
          .cv-calendar-container .cv-calendar-date-container > ul > li > a.active {
            color: #ffffff;
            background-color: #0099ff; }
        .cv-calendar-container .cv-calendar-date-container > ul > li:nth-child(7n+1) {
          margin-left: 1%; }
        .cv-calendar-container .cv-calendar-date-container > ul > li:nth-child(7n+7) {
          margin-right: 1%; }
  .cv-calendar-container .cv-calendar-time-container {
    position: relative;
    width: 100%;
    height: 170px;
    padding: 10px;
    overflow: auto; }
    .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time-word {
      position: absolute;
      z-index: 1001;
      width: 45%;
      border-top: 1px solid #0099ff;
      border-bottom: 1px solid #0099ff;
      padding: 0 15px 0 15px;
      color: #0099ff;
      top: 70px;
      line-height: 30px;
      text-align: right;
      pointer-events: none; }
      .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time-word:nth-child(1) {
        right: 50%; }
      .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time-word:nth-child(2) {
        left: 50%; }
    .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time {
      position: relative;
      width: 50%;
      height: 150px;
      float: left;
      line-height: 30px;
      text-align: center;
      overflow: hidden; }
      .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time > ul {
        display: block;
        width: 100%;
        height: auto;
        overflow: auto; }
        .cv-calendar-container .cv-calendar-time-container > .cv-calendar-time > ul > li.active {
          color: #0099ff; }
  .cv-calendar-container .cv-calendar-control {
    width: 100%; }
    .cv-calendar-container .cv-calendar-control button.cv-calendar-control-button {
      border: none;
      width: 50%;
      height: 40px;
      background-color: #0099ff;
      color: #ffffff;
      float: left;
      font-size: 16px; }
      .cv-calendar-container .cv-calendar-control button.cv-calendar-control-button:last-child {
        border-left: 1px solid #ffffff; }

/*
 * 单选树控件
 */
.cv-tree-single-container {
  width: 100%;
  background-color: #ffffff; }
  .cv-tree-single-container button.item-btn {
    display: inline-block;
    border: 1px solid #0099ff;
    border-radius: 5px;
    font-size: 16px;
    color: #0099ff;
    background-color: #ffffff;
    line-height: 20px;
    padding: 2px 5px 2px 5px; }
    .cv-tree-single-container button.item-btn.selected {
      background-color: #0099ff;
      color: #ffffff; }
  .cv-tree-single-container > .selected-container {
    width: 100%;
    padding: 10px 10px 5px 10px;
    border-bottom: 5px solid #0099ff; }
    .cv-tree-single-container > .selected-container > .selected-content {
      width: 100%; }
      .cv-tree-single-container > .selected-container > .selected-content > ul {
        height: auto;
        overflow: auto; }
        .cv-tree-single-container > .selected-container > .selected-content > ul > li {
          float: left;
          display: inline-block;
          padding: 5px; }
          .cv-tree-single-container > .selected-container > .selected-content > ul > li:not(:last-child):not(:first-child):after {
            content: ">"; }
          .cv-tree-single-container > .selected-container > .selected-content > ul > li:first-child {
            font-size: 16px;
            color: #0099ff;
            line-height: 26px; }
  .cv-tree-single-container > .item-container {
    width: 100%;
    padding: 10px;
    height: 200px;
    overflow-y: scroll; }
    .cv-tree-single-container > .item-container > ul {
      height: auto;
      overflow: auto; }
      .cv-tree-single-container > .item-container > ul > li {
        float: left;
        display: inline-block;
        padding: 5px; }
  .cv-tree-single-container > .cv-tree-single-control {
    width: 100%; }
    .cv-tree-single-container > .cv-tree-single-control button.cv-tree-single-control-button {
      border: none;
      width: 50%;
      height: 40px;
      background-color: #0099ff;
      color: #ffffff;
      float: left;
      font-size: 16px; }
      .cv-tree-single-container > .cv-tree-single-control button.cv-tree-single-control-button:last-child {
        border-left: 1px solid #ffffff; }

/*
 * 多选树控件
 */
.cv-tree-multi-container {
  width: 100%;
  background-color: #ffffff; }
  .cv-tree-multi-container button.item-btn {
    display: inline-block;
    border: none;
    font-size: 16px;
    color: #333333;
    background-color: #ffffff;
    line-height: 20px;
    padding: 2px 5px 2px 5px; }
    .cv-tree-multi-container button.item-btn.selected {
      color: #0099ff; }
  .cv-tree-multi-container > .selected-container {
    width: 100%;
    padding: 10px 10px 5px 10px;
    border-bottom: 5px solid #0099ff; }
    .cv-tree-multi-container > .selected-container > .selected-content {
      width: 100%; }
      .cv-tree-multi-container > .selected-container > .selected-content > ul {
        height: auto;
        overflow: auto; }
        .cv-tree-multi-container > .selected-container > .selected-content > ul > li {
          float: left;
          display: inline-block;
          white-space: nowrap;
          padding: 3px; }
          .cv-tree-multi-container > .selected-container > .selected-content > ul > li > div {
            display: inline-block;
            padding: 3px;
            border: 1px solid #0099ff;
            border-radius: 5px; }
          .cv-tree-multi-container > .selected-container > .selected-content > ul > li:not(:last-child):not(:first-child):after {
            content: " >"; }
          .cv-tree-multi-container > .selected-container > .selected-content > ul > li:first-child > div {
            font-size: 16px;
            color: #0099ff;
            line-height: 26px;
            border: none; }
  .cv-tree-multi-container > .item-container {
    width: 100%;
    padding: 10px;
    height: 200px;
    overflow-y: scroll; }
    .cv-tree-multi-container > .item-container > ul {
      height: auto;
      overflow: auto; }
      .cv-tree-multi-container > .item-container > ul > li {
        float: left;
        display: inline-block;
        padding: 3px;
        margin: 5px;
        border: 1px solid #0099ff;
        border-radius: 5px; }
  .cv-tree-multi-container > .cv-tree-multi-control {
    width: 100%; }
    .cv-tree-multi-container > .cv-tree-multi-control button.cv-tree-multi-control-button {
      border: none;
      width: 50%;
      height: 40px;
      background-color: #0099ff;
      color: #ffffff;
      float: left;
      font-size: 16px; }
      .cv-tree-multi-container > .cv-tree-multi-control button.cv-tree-multi-control-button:last-child {
        border-left: 1px solid #ffffff; }

/***********************************************************
 * 常用样式部分
 ***********************************************************/
/*
 * 多选checkbox控件
 */
.cv-checkbox-container {
  display: inline-block; }
  .cv-checkbox-container .cv-checkbox {
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: none; }
    .cv-checkbox-container .cv-checkbox + .cv-checkbox-custom {
      cursor: pointer;
      display: inline-block;
      position: relative;
      white-space: nowrap;
      color: #333333;
      font-size: 14px;
      height: auto;
      line-height: 24px;
      min-height: 24px;
      padding-left: 14px; }
      .cv-checkbox-container .cv-checkbox + .cv-checkbox-custom:before {
        content: '';
        display: block;
        box-sizing: border-box;
        box-sizing: -webkit-border-box;
        box-sizing: -moz-border-box;
        box-sizing: -0-border-box;
        box-sizing: -ms-border-box;
        position: absolute;
        width: 10px;
        height: 10px;
        left: 5px;
        top: 7px;
        margin: 0;
        padding: 0;
        border: 1px solid #333333;
        -webkit-transition-property: -webkit-transform;
        -webkit-transition-duration: 300ms; }
    .cv-checkbox-container .cv-checkbox:checked + .cv-checkbox-custom {
      color: #0099ff; }
      .cv-checkbox-container .cv-checkbox:checked + .cv-checkbox-custom:before {
        border-color: #0099ff;
        border-top: none;
        border-right: none;
        width: 16px;
        height: 8px;
        top: 5px;
        -webkit-transform: rotate(-45deg) translateZ(0); }

/*
 * 单选radio控件
 */
.cv-radio-container .cv-radio {
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: none; }
  .cv-radio-container .cv-radio + .cv-radio-custom {
    cursor: pointer;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    color: #333333;
    font-size: 14px;
    height: auto;
    line-height: 24px;
    min-height: 24px;
    padding-left: 14px; }
    .cv-radio-container .cv-radio + .cv-radio-custom:before {
      content: '';
      display: block;
      box-sizing: border-box;
      box-sizing: -webkit-border-box;
      box-sizing: -moz-border-box;
      box-sizing: -0-border-box;
      box-sizing: -ms-border-box;
      position: absolute;
      width: 14px;
      height: 14px;
      left: 3px;
      top: 5px;
      margin: 0;
      padding: 0;
      border-radius: 7px;
      border: 1px solid #333333;
      -webkit-transition-property: -webkit-transform;
      -webkit-transition-duration: 300ms; }
  .cv-radio-container .cv-radio:checked + .cv-radio-custom {
    color: #0099ff; }
    .cv-radio-container .cv-radio:checked + .cv-radio-custom:before {
      border: 5px solid #0099ff; }

/*
 * 满屏按钮
 */
.cv-full-btn {
  width: 100%;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #0099ff;
  color: #ffffff; }

.iOS .cv-nav-container > .cv-nav-header {
  padding-top: 27px;
  height: 64px; }
  .iOS .cv-nav-container > .cv-nav-header + .cv-nav-content {
    padding-top: 64px; }
  .iOS .cv-nav-container > .cv-nav-header > span {
    top: 20px; }

.directory-list > ul > li {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px dashed #333333;
  height: 60px; }

.scroll-demo-list > ul > li {
  padding: 5px 10px 5px 10px;
  border-bottom: 1px dashed #333333;
  line-height: 30px;
  color: #333333;
  font-size: 16px; }

button.slider-demo-btn {
  float: left;
  width: 110px;
  height: 60px;
  border-radius: 5px;
  margin: 5px;
  border: none;
  background-color: #0099ff;
  color: #ffffff; }

.form-demo-list > ul > li {
  padding: 10px; }
  .form-demo-list > ul > li > div.controls {
    width: 100%;
    padding: 5px;
    background-color: #cccccc;
    text-align: center; }

/*# sourceMappingURL=cvstyle.css.map */
