<div>
	<cv-scroll ref="cvScroll" :is-refresh="true" :is-load-more="true" v-on:pullDownAction="pullDownAction" v-on:pullUpAction="pullUpAction" style="height:200px;">
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>		
		<div><span v-for="item in checkboxData">{{item.checked}}&nbsp;&nbsp;</span></div>
		<div><input type="checkbox" v-for="item in checkboxData" v-model="item.checked" v-bind:value="item.value"/></div>
		<div>scroll</div>
		<div>scroll</div>
		<button v-on:click="navPush(clientPages.testPage2)">跳转到{{clientPages.testPage2}}</button>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
	</cv-scroll>

	<cv-scroll ref="cvScroll2" :is-refresh="false" :is-load-more="false" v-on:pullDownAction="pullDownAction" v-on:pullUpAction="pullUpAction" style="height:200px;">
		<div>scroll</div>
		<div>scroll</div>
		<div>
			<cv-radio v-for="item in radioData" v-bind:key="item.value" v-model="radioPicked" v-bind:value="item.value" v-bind:label-text="item.labelText"></cv-radio>
		</div>
		<div>{{radioPicked}}</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
	</cv-scroll>
	<button v-on:click="loadingTest()">loading测试</button>
	<div>-----------我是分割线--------------</div>
	<div><cv-checkbox v-for="item in checkboxData" v-bind:key="item.value" v-model="item.checked" v-bind:value="item.value" v-bind:label-text="item.labelText" v-on:change="console.log('change')"></cv-checkbox></div>
</div>
