<div class="cv-calendar-container">
	<div class="cv-calendar-tabs">
		<button class="cv-calendar-tab-btn" v-on:click="setShowStatus(statusEnum[0])">{{yearStr}}</button>&nbsp;-&nbsp;<button class="cv-calendar-tab-btn" v-on:click="setShowStatus(statusEnum[1])">{{monthStr | time-num}}</button>&nbsp;-&nbsp;<button class="cv-calendar-tab-btn" v-on:click="setShowStatus(statusEnum[2])">{{dateStr | time-num}}</button>
		&nbsp;&nbsp;<button class="cv-calendar-tab-btn" v-on:click="setShowStatus(statusEnum[3])">{{hourStr | time-num}}:{{minuteStr | time-num}}</button>
	</div>
	<div ref="cvCalendarYears" class="cv-calendar-years-container" v-if="showStatus == statusEnum[0]">
		<ul>
			<li v-for="item in yearList" v-on:click="yearSelected(item)" v-bind:class="{ active:parseInt(item) == calendarShowDate.getFullYear() }">{{item}}</li>
		</ul>
	</div>
	<div class="cv-calendar-month-container" v-if="showStatus == statusEnum[1]">
		<ul>
			<li v-for="(item, index) in monthList" v-on:click="monthSelected(index)" v-bind:class="{ active:index == calendarShowDate.getMonth()}">{{item}}</li>
		</ul>
	</div>
	<div class="cv-calendar-date-container" v-if="showStatus == statusEnum[2]">
		<div class="cv-calendar-week-title-container">
			<ul>
				<li v-for="item in weekList">{{item}}</li>
			</ul>
		</div>
		<ul>	
			<li v-for="item in prevDateList"><a class="disable">{{item | time-num}}</a></li>
			<li v-for="(item, index) in dateList"><a v-on:click="dateSelected(index+1)" v-bind:class="{ active:(index+1) == calendarShowDate.getDate()}">{{item | time-num}}</a></li>
		</ul>
	</div>
	<div class="cv-calendar-time-container" v-if="showStatus == statusEnum[3]">
		<div class="cv-calendar-time-word">时</div>
		<div class="cv-calendar-time-word">分</div>
		<div ref="cvCalendarHours" class="cv-calendar-time">
			<ul>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li v-for="(item, index) in hourList" v-bind:class="{ active:index == calendarShowDate.getHours()}">{{item | time-num}}</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
			</ul>
		</div>
		<div ref="cvCalendarMinutes" class="cv-calendar-time">
			<ul>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
				<li v-for="(item, index) in minuteList" v-bind:class="{ active:index == calendarShowDate.getMinutes()}">{{item | time-num}}</li>
				<li>&nbsp;</li>
				<li>&nbsp;</li>
			</ul>
		</div>
	</div>
	<div class="cv-calendar-control">
		<button class="cv-calendar-control-button" v-on:click="selectedDate">确定</button>
		<button class="cv-calendar-control-button" v-on:click="hideModal">取消</button>
	</div>
</div>