<div>
	<cv-scroll ref="cvScroll" :is-refresh="true" :is-load-more="true" v-on:pullDownAction="pullDownAction" v-on:pullUpAction="pullUpAction">
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div><cv-checkbox v-model="checkboxData.checked" v-bind:value="checkboxData.value" v-bind:label-text="checkboxData.labelText" v-on:change="console.log('change')"></cv-checkbox>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;scrolltest</div>
		<div>{{checkboxData.checked}}</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
	</cv-scroll>
	<button v-on:click="navPush(clientPages.testPage2)">跳转到{{clientPages.testPage2}}</button>
	<cv-scroll ref="cvScroll2" :is-refresh="false" :is-load-more="false" v-on:pullDownAction="pullDownAction" v-on:pullUpAction="pullUpAction">
		<div>scroll</div>
		<div>scroll</div>
		<div>
			<cv-radio v-for="item in radioData" v-bind:key="item.value" v-model="radioPicked" v-bind:value="item.value" v-bind:label-text="item.labelText"></cv-radio>
		</div>
		<div>{{radioPicked}}</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
		<div>scroll</div>
	</cv-scroll>
	<button v-on:click="loadingTest()">loading测试</button>
	<div>-----------我是分割线--------------</div>
</div>
